name: Telegram Bot Spring release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17, Maven Central and GPG
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: maven

          server-id: central
          server-username: CENTRAL_USERNAME
          server-password: CENTRAL_TOKEN

          gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
          gpg-passphrase: GPG_PASSPHRASE

      - name: Build and publish to Maven Central
        run: mvn -B -ntp clean deploy -P release
        env:
          CENTRAL_USERNAME: ${{ secrets.CENTRAL_USERNAME }}
          CENTRAL_TOKEN: ${{ secrets.CENTRAL_PASSWORD }}
          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
