name: Telegram Bot Spring Master branch checks
on:
  push:
    branches:
      - master

jobs:
  verify-master:
    name: Master branch verifying
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Temurin JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: maven
      - name: Verify
        run: mvn -B -ntp -Dstyle.color=always verify
